[submodule "submodules/diff-gaussian-rasterization"]
	path = submodules/diff-gaussian-rasterization
	url = https://github.com/zhaihongjia/diff-gaussian-rasterization
[submodule "submodules/Hierarchical-Localization"]
	path = submodules/Hierarchical-Localization
	url = https://github.com/cvg/Hierarchical-Localization
[submodule "submodules/simple-knn"]
	path = submodules/simple-knn
	url = https://gitlab.inria.fr/bkerbl/simple-knn
